p{
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;

}

td{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;

}
