
<p>hero works!</p>

<h1>{{name}}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Poder:</td>
  <dd>{{getHerODescription()}}</dd>

  <td>capitalice:</td>
  <dd>{{capitalice}}</dd>

</dl>

<button
    *ngIf="name !== 'Spiderman'"
    class="btn btn-primary mx-3 "
    (click)="changeHero()">Cambiar Nombre
</button>
<button
  *ngIf="age !== 30 "
  class="btn btn-primary"
  (click)="changeAge()">Cambiar edad
</button>

<button

  class="btn btn-primary"
  (click)="reset()">Reset
</button>
